<nav class="navbar sticky-top navbar-expand-sm bg-primary-subtle " data-bs-theme="dark">
    <div class="container-fluid ">
      <h1 class="navbar-brand" >Med Dev</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'devices' %}">Devices</a></li>
              {% comment %} <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> {% endcomment %}
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="dropdown dropdown-menu-left">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu ">
              <a class="dropdown-item" aria-disabled="true" href="{% url 'user_profile' %}">Profile</a>
              <a class="dropdown-item" aria-disabled="true" href="{% url 'user_devices' %}">Your devices</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
              <a class="dropdown-item" aria-disabled="true" href="{% url 'logout_user' %}">Logout</a>
            </div>
          </li> 
            
          {% else %} 
            <li class="dropdown dropdown-menu-left">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
              </a>
              <div class="dropdown-menu ">
                <a class="dropdown-item" href="{% url 'login_user' %}">Login</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="{% url 'register_user' %}">Sign Up</a>
              </div>
            </li> 
          {% endif %}
        </ul>
        <form class="d-inline-flex" role="search" method="get" action="{% url 'search_results' %}">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
          
        </li>
        </ul>
      </div>
    </div>
  </nav>